# Week 5. Take-Home Project
### 應用 TF-IDF 原理找出消費者的代表商品
我們可以應用 TF-IDF 的原理去調整購買紀錄：將大家普遍都會購買的商品比重降低，消費者個人特別的選購商品比重調高。藉此我們就可以找出個體之間的差異，進一步了解客戶的消費習慣與生活風格，為行銷與推薦系統提供更多資訊。

In [28]:
from functools import reduce
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('../91APPdataset/Orders.csv')

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5495276 entries, 0 to 5495275
Data columns (total 28 columns):
DateId                         5495276 non-null int64
MemberId                       5495276 non-null int64
OrderGroupCode                 5495276 non-null object
TrackSourceTypeDef             5495276 non-null object
TrackDeviceTypeDef             5495276 non-null object
PayProfileTypeDef              5495276 non-null object
SalesOrderSlaveId              5495276 non-null int64
SalePageId                     5495276 non-null int64
IsMajor                        5495276 non-null bool
IsGift                         5495276 non-null bool
IsSalePageGift                 5495276 non-null bool
Quantity                       5495276 non-null int64
UnitPrice                      5495276 non-null float64
PromotionDiscount              5495276 non-null float64
ECouponId                      5495276 non-null int64
ECouponDiscount                5495276 non-null float64
SalesOrderSlaveTotalPayment    5495276 non-null float64
SalesOrderSlaveDateTime        5495276 non-null object
SalesOrderReceiverId           5495276 non-null int64
City                           5495267 non-null object
District                       4168257 non-null object
ZipCode                        5495267 non-null float64
StoreName                      4997006 non-null object
StoreId                        4997006 non-null object
DeliverTypeDef                 5495276 non-null object
StatusDef                      5495276 non-null object
ReturnGoodsDateId              283245 non-null float64
CauseDef                       283245 non-null object
dtypes: bool(3), float64(6), int64(7), object(12)
memory usage: 1.0+ GB

In [38]:
data.SalePageId.sort_values(ascending=True).unique()
memberid = data['MemberId'].sort_values(ascending=True).unique()
salepageid = data['MemberId'].sort_values(ascending=True).unique()

array([   1326,    1329,    1334, ..., 6771471, 6771502, 6771506],
      dtype=int64)

In [45]:
res = data.groupby(['MemberId','SalePageId'])['Quantity'].sum().reset_index('SalePageId')
res

          SalePageId  Quantity
MemberId
1326         2294442         1
1329         1119492         1
1329         1413478         1
1329         1438703         1
1334         1597130         1
1334         1674525         1
1334         1883587         1
1336         1959833         3
1336         1959927         4
1336         1974625        10
1336         2036844         7
1336         2104438         3
1362         1530334         1
1362         2294453         1
1362         2603116         1
1362         2653663         1
1372         1175622         1
1372         1194488         1
1373         1119321         1
1373         1256530         1
1373         1270612         1
1373         1394346         3
1373         1677960         1
1373         1830694         1
1373         1883543         1
1373         1883587         1
1373         1910552         1
1373         2229795         1
1373         2255141         1
1373         2336479         1
...              ...       ...
6770404      3048808         1
6770404      4146420         1
6770719      1959833         1
6770719      3447124         2
6770862      2012150         1
6770862      3512392         1
6770862      4129785         1
6771043      4116196         1
6771043      4129699         1
6771043      4146415         1
6771043      4187146         1
6771043      4187210         1
6771043      4207451         1
6771043      4268542         1
6771407      2490142         1
6771407      3189597         2
6771407      3465262         1
6771407      4242366         1
6771407      4268586         1
6771407      4268690         1
6771471      3252108         1
6771471      4116152         1
6771471      4129759         1
6771471      4255829         1
6771502      2896193         1
6771502      4187152         1
6771502      4187160         1
6771502      4255740         1
6771502      4268606         1
6771506      3048876         1

[4616438 rows x 2 columns]

In [51]:
res1 = res['Quantity']
res2 = res['Quantity']
res2.index = res['SalePageId']

In [57]:
np.outer(res1.values, res2.values)

MemoryError: