# Week 2. In-Class Practice

In [1]:
import pandas as pd
import numpy as np
import time
from climate import *

In [2]:
data = pd.read_csv("../91APPdataset/Orders.csv")
station_info = get_station_info()

/home/kevin/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [44]:
taipei_data = data[data.City=='台北市'][['SalesOrderSlaveDateTime', 'City', 'SalesOrderSlaveTotalPayment']]

In [45]:
taipei_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 693837 entries, 35 to 5495274
Data columns (total 3 columns):
SalesOrderSlaveDateTime        693837 non-null object
City                           693837 non-null object
SalesOrderSlaveTotalPayment    693837 non-null float64
dtypes: float64(1), object(2)
memory usage: 21.2+ MB

In [47]:
taipei_data['SalesOrderSlaveDateTime'] = pd.to_datetime(taipei_data['SalesOrderSlaveDateTime']).apply(lambda x: x.date()).astype(str)

In [6]:
taipei_time = (taipei_data['SalesOrderSlaveDateTime'].unique())
taipei = "臺北市"

In [37]:
taipei_precp = []
taipei_temperature = []
for i in range(len(taipei_time)):
    temp = get_city_data(station_info, taipei_time[i], taipei)
    precp_mean = temp[temp['Precp'].str.contains("\d+[\.]?\d*").fillna(False)]['Precp'].astype(float).mean()
    temperature_mean = temp[temp['Temperature'].str.contains("\d+[\.]?\d*").fillna(False)]['Temperature'].astype(float).mean()
    taipei_precp.append(precp_mean)
    taipei_temperature.append(temperature_mean)

In [42]:
taipei_climate = pd.DataFrame({'SalesOrderSlaveDateTime':taipei_time, 'Precp':taipei_precp, 'Temperature':taipei_temperature})
taipei_climate.head()

      Precp SalesOrderSlaveDateTime  Temperature
0  0.000000              2015-07-03    29.131250
1  0.001497              2015-06-26    29.878125
2  0.000000              2015-07-13    28.696528
3  0.000000              2015-07-08    29.965625
4  0.148466              2015-09-13    24.625347

In [49]:
taipei_result = pd.merge(taipei_data, taipei_climate, on='SalesOrderSlaveDateTime')
taipei_result

,SalesOrderSlaveDateTime,City,SalesOrderSlaveTotalPayment,Precp,Temperature
0,2015-07-03,台北市,152.0,0.000000,29.131250
1,2015-07-03,台北市,158.0,0.000000,29.131250
2,2015-07-03,台北市,144.0,0.000000,29.131250
3,2015-07-03,台北市,144.0,0.000000,29.131250
4,2015-07-03,台北市,199.0,0.000000,29.131250
5,2015-07-03,台北市,125.0,0.000000,29.131250
6,2015-07-03,台北市,125.0,0.000000,29.131250
7,2015-07-03,台北市,100.0,0.000000,29.131250
8,2015-07-03,台北市,200.0,0.000000,29.131250
9,2015-07-03,台北市,199.0,0.000000,29.131250
10,2015-07-03,台北市,100.0,0.000000,29.131250
11,2015-07-03,台北市,200.0,0.000000,29.131250
12,2015-07-03,台北市,269.0,0.000000,29.131250
13,2015-07-03,台北市,220.0,0.000000,29.131250
14,2015-07-03,台北市,269.0,0.000000,29.131250
15,2015-07-03,台北市,276.0,0.000000,29.131250
16,2015-07-03,台北市,175.0,0.000000,29.131250
17,2015-07-03,台北市,199.0,0.000000,29.131250
18,2015-07-03,台北市,199.0,0.000000,29.131250
19,2015-07-03,台北市,249.0,0.000000,29.131250
20,2015-07-03,台北市,199.0,0.000000,29.131250
21,2015-07-03,台北市,249.0,0.000000,29.131250
22,2015-07-03,台北市,249.0,0.000000,29.131250
23,2015-07-03,台北市,339.0,0.000000,29.131250
24,2015-07-03,台北市,339.0,0.000000,29.131250
25,2015-07-03,台北市,350.0,0.000000,29.131250
26,2015-07-03,台北市,390.0,0.000000,29.131250
27,2015-07-03,台北市,165.0,0.000000,29.131250
28,2015-07-03,台北市,134.0,0.000000,29.131250
29,2015-07-03,台北市,350.0,0.000000,29.131250
...,...,...,...,...,...
693807,2017-03-24,台北市,299.0,0.001401,19.105034
693808,2017-03-24,台北市,178.0,0.001401,19.105034
693809,2017-03-24,台北市,181.0,0.001401,19.105034
693810,2017-03-24,台北市,181.0,0.001401,19.105034
693811,2017-03-24,台北市,416.0,0.001401,19.105034
693812,2017-03-24,台北市,181.0,0.001401,19.105034
693813,2017-03-24,台北市,166.0,0.001401,19.105034
693814,2017-03-24,台北市,183.0,0.001401,19.105034
693815,2017-03-24,台北市,290.0,0.001401,19.105034
693816,2017-03-24,台北市,290.0,0.001401,19.105034
693817,2017-03-24,台北市,223.0,0.001401,19.105034
693818,2017-03-24,台北市,311.0,0.001401,19.105034
693819,2017-03-24,台北市,179.0,0.001401,19.105034
693820,2017-03-24,台北市,179.0,0.001401,19.105034
693821,2017-03-24,台北市,378.0,0.001401,19.105034
693822,2017-03-24,台北市,382.0,0.001401,19.105034
693823,2017-03-24,台北市,390.0,0.001401,19.105034
693824,2017-03-24,台北市,267.0,0.001401,19.105034
693825,2017-03-24,台北市,335.0,0.001401,19.105034
693826,2017-03-24,台北市,382.0,0.001401,19.105034
693827,2017-03-24,台北市,286.0,0.001401,19.105034
693828,2017-03-24,台北市,404.0,0.001401,19.105034
693829,2017-03-24,台北市,179.0,0.001401,19.105034
693830,2017-03-24,台北市,199.0,0.001401,19.105034
693831,2017-03-24,台北市,199.0,0.001401,19.105034
693832,2017-03-24,台北市,199.0,0.001401,19.105034
693833,2017-03-24,台北市,299.0,0.001401,19.105034
693834,2017-03-24,台北市,45.0,0.001401,19.105034
693835,2017-03-24,台北市,308.0,0.001401,19.105034
693836,2017-03-24,台北市,318.0,0.001401,19.105034

In [50]:
taipei_result.to_csv("taipei_result.csv")